link(rel='stylesheet', href='#{location.font}')
link(rel='stylesheet', href='#{location.css}')
script(type='text/javascript', src='#{location.jq}')
script(type='text/javascript', src='#{location.hc}')
- var pageCount = 5
- var staticPages = 3
div( class='main-logo' )
	img( src='#{location.logo}' )
div( class='main-img' )
	img( src='#{location.firstPage}' )
div(class='main-footer' )
	div( class='main-bg')
		div(class='main-title')
			| Portfolio Health and Exception Report
		div(class='organization-name')
			= location.organization
		div(class='main-dates')
			= location.from + ' - ' + location.to
		div(class='issued')
			= 'Issued ' + location.issued
	div(class='over')
		| Over 35 years of excellence
	div(class='phone')
		| 1300 558 788
		span(class='phone-spacing')
		| hydrochem.com.au
div(class='page-break')
div( class='page' )
	div( class='page-logo' )
		img( src='#{location.logo}' )
	div( class='first-title' )
		div
			div( class='organization' )
				= location.organization
			div( class='title-dates' )
				= location.from + ' - ' + location.to
	div(class='table-contents-heading')
		| Table Of Contents
	- var acum = 5 + location.profile.length;
	table(class='table-contents')
		tr
			td(class='cont-title') 1. Location Perfomance Summary
			td(class='cont-page') 3
		tr
			td(class='cont-sub') Asset Health
			td(class='cont-page') 3
		tr
			td(class='cont-sub') Environment Health
			td(class='cont-page') 4
		tr
			td(class='cont-sub') Water Efficiency
			td(class='cont-page') 4
		tr
			td(class='cont-sub') Compliance
			td(class='cont-page') 4
		tr
			td(class='cont-title')
				= 2 + '. Location Health Analysis'
			td(class='cont-page') 5
		tr
			td(class='cont-title') 3. Exception Report
			td(class='cont-page')= acum
	div(class='page-footer')
		div(class='foo-left')
			| Portfolio Health and Exception Report
		div(class='foo-middle')
			= 'Issued ' + location.issued
		div(class='foo-right')
			= 'Page 2 of ' + location.totalPages
div(class='page-break')
div(class='page')
	div(class='page-logo')
		img( src='#{location.logo}' )
	div( class='page-organization' )
		div
			div(class='page-org')
				= location.organization
			div
				= location.from + ' - ' + location.to
	div()
		div(class='asset-name')
			| 1. PORTFOLIO PERFORMANCE SUMMARY
		p
			| Hydrochem is busy servicing your water systems to minimise risks to human health and maximise asset performance and longevity - this is how we reduce your total cost of operation. as part of our service, we collect data across a range of categories to assess how your systems are performing.
		p
			= 'The Health Score algorithm for your portfolio over the period ' + location.from + ' to ' + location.to + ' has condensed ' + location.stats.dataPointsCount + ' data points across ' + location.assetsCount + ' systems down to 4 categories that indicate an overall location health of ' + location.stats.total + ' %.'
		p
			= 'This health score indicates your Location is in ' + location.message + ' health.'
		p
			|The health score is responsive to the data accumulated during the period. as you would appreciate, water systems are relatively dynamic and we should continue to work together to maintain this rating.
	div(class='location-donut-container')
		div(class='location-health')
			| Portfolio Health
		div(class='radial-progress', data-progress='#{location.stats.total}')
			div(class='radial-progress__circle')
				div(class='radial-progress__mask radial-progress__mask--full')
					div(class='radial-progress__fill')
				div(class='radial-progress__mask radial-progress__mask--half')
					div(class='radial-progress__fill')
					div(class='radial-progress__fill radial-progress__fill--fix')
			div(class='radial-progress__inset')
				span
					= location.stats.total
					sup %
		div(class='location-detail')
			b
				= 'Your location score of ' + location.stats.total
			= ' is based on results collected during the period '
			b
				= location.from + ' to ' + location.to
	div(class='location-cards')
		div(class='card')
			- var p = location.stats.assetHealth.percentage
			div(class='card-asset-health')
				= p != -1 ? p + '/' : 'No Data'
				if p != -1
					span 100
				div(class='card-name') Asset Health
			div(class='card-detail')
				div 5-100 EXCELLENT
				div 65-84 GOOD
				div 0-64 FOCUS ON IMPROVEMENT
		div(class='card')
			- var p = location.stats.environmentHealthRating.percentage
			div(class='card-environ-health')
				= p != -1 ? p + '/' : 'No Data'
				if p != -1
					span 100
				div(class='card-name') Environment Health
			div(class='card-detail')
				div 85-100 EXCELLENT
				div 65-84 GOOD
				div 0-64 FOCUS ON IMPROVEMENT
		div(class='card')
			- var p = location.stats.energy.percentage
			div(class='card-energy')
				= p != -1 ? p + '/' : 'No Data'
				if p != -1
					span 100
				div(class='card-name') Water Efficiency
			div(class='card-detail')
				div 85-100 EXCELLENT
				div 65-84 GOOD
				div 0-64 FOCUS ON IMPROVEMENT
		div(class='card')
			- var p = location.stats.compilanceRating.percentage
			div(class='card-compilance')
				= p != -1 ? p + '/' : 'No Data'
				if p != -1
					span 100
				div(class='card-name') Compliance Rating
			div(class='card-detail')
				div 85-100 EXCELLENT
				div 65-84 GOOD
				div 0-64 FOCUS ON IMPROVEMENT
	div
		if location.stats.assetHealth.percentage != -1
			div(class='asset-health')
				= 'Asset Health - ' + location.stats.assetHealth.percentage + '/100'
			p
				| The Asset Health score is targeted towards maximising asset performance and longevity. The score is calculated on an accumulation of data across the Location including:
			ul(class='list')
				li
					| On-site water chemistry analyses undertaken during service visits
				li
					| Corrosion coupon results
			p
				b
					= 'Your Location score of ' + location.stats.assetHealth.percentage + ' '
				| is based on results collected during the period
				b
					= ' ' + location.from + ' to ' + location.to
			p
				b
					| Water Chemistry Analyses:
				= ' ' + location.stats.assetHealth.waterAnalisys + ' on-site water chemistry analyses were undertaken during this period, of which ' + location.stats.assetHealth.waterOutOfSpec + ' were out of specification.'
			p
				b
					| Corrosion Coupons:
				= ' ' + location.stats.assetHealth.coupons + ' corrosion coupon results were recorded during this period, of which ' + location.stats.assetHealth.highCoupons + ' were in the moderate to fair corrosion rate category or higher.'
	div(class='page-footer')
		div(class='foo-left')
			| Portfolio Health and Exception Report
		div(class='foo-middle')
			= 'Issued ' + location.issued
		div(class='foo-right')
			= 'Page 3 of ' + location.totalPages
div(class='page-break')
div( class='page')
	div( class='page-logo')
		img( src='#{location.logo}' )
	div(class='page-organization')
		div()
			div(class='page-org')
				= location.organization
			div
				= location.from + ' - ' + location.to
	div
		if location.stats.environmentHealthRating.percentage != -1
			div(class='environmental-health')
				= 'Environment Health - ' + location.stats.environmentHealthRating.percentage + '/100'
			p
				| The Environmental Health score is targeted towards minimising incidents that could cause harm to human or environmental health, including Legionnaires disease.
			p
				b
					= 'Your Location score of ' + location.stats.environmentHealthRating.percentage
				= ' is based on a total of ' + location.stats.environmentHealthRating.legs + ' Legionella tests and ' + location.stats.environmentHealthRating.hcc + ' HCC carried out over the period '
				b
					= location.from + ' to ' + location.to + '. '
				= 'Your system/s recorded ' + location.stats.environmentHealthRating.highLegs + ' out of specification Legionella results and ' + location.stats.environmentHealthRating.highHcc + ' out of specification HCC results during this period. '
	div
		if location.stats.energy.percentage != -1
			div(class='water-efficiency')
				= 'Water Efficiency - ' + location.stats.energy.percentage + '/100'
			p
				| The Energy Efficiency score is targeted towards maximising the water and energy efficiency of your Location. The score is calculated on a ratio of your system’s dissolved solids concentrations compared to average mains water dissolved solids concentrations in your region. Your system’s dissolved solids analyses are undertaken during HydroChem’s service visits.
			p
				b
					= 'Your location score of ' + location.stats.energy.percentage
				= ' is based on ' + location.stats.energy.test + ' dissolved solid analyses carried out over the period '
				b
					= location.from + ' to ' + location.to + '. '
				= 'Your location returned ' + location.stats.energy.counting + ' low cycles results during this period. '
			p
				| Please note that this calculation relies on the average mains water dissolved solids concentrations in your region. Varia- tions in the actual dissolved solids concentration of incoming mains water (especially any increases) will cause factor variations in the score. Please contact your account manager for further information.
	div
		if location.stats.compilanceRating.percentage != -1
			div(class='compliance')
				= 'Compliance - ' + location.stats.compilanceRating.percentage + '/100'
			p
				| The Compliance score is targeted towards achieving the expected frequency of deliverables associated with Hydro- Chem’s forecast service program. The deliverables encompassed include technical services, inspections, microbiological samples, corrosion coupons and cleans.
			p
				b
					= 'You location score of ' + location.stats.compilanceRating.percentage
				= ' is based on a total of ' + location.stats.compilanceRating.test + ' contracted deliverables carried out over the period '
				b
					= location.from + ' to ' + location.to + '. '
				= 'HydroChem records indicate that ' + location.stats.compilanceRating.outFrecuency + ' deliverable/s was/were outside the forecast program.'
			p
				| This score is intended as an indicative rather than a Pass/Fail. HydroChem programs its forecast at the beginning of the contract period. There can be a variety of reasons for deliverables being outside the forecast frequency (for example: access issues, rescheduling to accommodate client request, inclement weather and public holidays).
	div(class='page-footer')
		div(class='foo-left')
			| Portfolio Health and Exception Report
		div(class='foo-middle')
			= 'Issued ' + location.issued
		div(class='foo-right')
			= 'Page 4 of ' + location.totalPages
div(class='page-break')
- for ( var i = 0; i < location.profile.length; i++ )
	div( class='page' )
		div( class='page-logo')
			img( src='#{location.logo}' )
		div(class='page-organization')
			div()
				div(class='page-org')
					= location.organization
				div
					= location.from + ' - ' + location.to
		div(class='asset-name')
			| 2. LOCATION HEALTH ANALYSIS
		table(class='table green')
			thead
				th Location Name
				th(style='text-align: center;') System Count
				th(style='text-align: center;') Exceptions Count
				th(style='text-align: right;') Location Health
			each cp in location.profile[i]
				tr
					td= cp.locationName
					td(style='text-align: center;')= cp.equipments
					td(style='text-align: center;')= cp.exceptionsCount
					td(style='text-align: right;color: #{cp.color}')= cp.total + '%'
		div(class='page-footer')
			div(class='foo-left')
				| Portfolio Health and Exception Report
			div(class='foo-middle')
				= 'Issued ' + location.issued
			div(class='foo-right')
				= 'Page ' + pageCount + ' of ' + location.totalPages
	div(class='page-break')
	- pageCount++
if location.tablePages.length == 0
	div( class='page')
		div( class='page-logo')
			img( src='#{location.logo}' )
		div(class='page-organization')
			div()
				div(class='page-org')
					= location.organization
				div
					= location.from + ' - ' + location.to
		div(class='asset-name')
			| 2. EXCEPTION REPORT
		div(class='greenMessage')
			| HydroChem has not recorded any exceptions for the date period.
		div(class='page-footer')
			div(class='foo-left')
				| Portfolio Health and Exception Report
			div(class='foo-middle')
				= 'Issued ' + location.issued
			div(class='foo-right')
				= 'Page ' + pageCount + ' of ' + location.totalPages
	div(class='page-break')
	- pageCount++
- for ( var i = 0; i < location.tablePages.length; i++ )
	- var e = 0
	- var ei = 0
	while e < location.tablePages[i].excPages
		div( class='page')
			div( class='page-logo')
				img( src='#{location.logo}' )
			div(class='page-organization')
				div()
					div(class='page-org')
						= location.organization
					div
						= location.from + ' - ' + location.to
			if i == 0
				div(class='asset-name')
					| 3. EXCEPTION REPORT
			if e == 0
				div(class='asset-name')
					= 'LOCATION: ' + location.tablePages[i].name
			table(class='table')
				thead
					th Type
					th System Name
					th Service Call
					th Date
					th Comments
				- var j = 0
				- var it = j+ei;
				while j < 12 && it < location.tablePages[i].exceptions.length
					- var exc = location.tablePages[i].exceptions[it]					
					tr
						if exc.h
							th(style='text-align: left;', class='crimson', colspan='5')= exc.h
						if !exc.h
							td= exc.t
							td= exc.s
							td= exc.i
							td= exc.d
							td= exc.c
					- j++;
					- it = j+ei;
				- ei = it;
			div(class='page-footer')
				div(class='foo-left')
					| Portfolio Health and Exception Report
				div(class='foo-middle')
					= 'Issued ' + location.issued
				div(class='foo-right')
					= 'Page ' + pageCount + ' of ' + location.totalPages
		div(class='page-break')
		- pageCount++
		- e++
